.cont {
    background-color: #DFD0B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: .5rem;
    border-style: none solid solid none;
    border-color: #153448;
    width: 700px;
    padding: 3rem 5rem 3rem 5rem;
    margin: 2rem 0 2rem 0;
}

h1, h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

p {
    font-family: "Open Sans", sans-serif;
    margin: 0 0 2rem 0;
}

.create-button {
    text-decoration: none;
    background-color: black;
    border-radius: .5rem;
    font-size: .9rem;
    color: white;
    padding: .5rem;
    font-family: "Roboto", sans-serif;
}

input {
    padding: .5rem;
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
}

textarea {
    padding: .5rem 0 .7rem .5rem;
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
}

.btn {
    display: inline;
    margin-bottom: 1.5rem;
    padding: .7rem;
    background-color:#153448;
    font-family: "Roboto", sans-serif;
    color: white;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    border-style: none solid solid none;
    cursor: pointer;
}

::placeholder {
    font-family: "Open-Sans", sans-serif;
    font-size: .85rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 1.5rem;
    gap: 10px;
}

.post-content {
    margin-bottom: .7rem;
}

a {
    background-color: #3C5B6F;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    padding: .5rem;
    border-radius: .5rem;
}

.delete {
    background-color: #3C5B6F;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.delete:hover {
    background-color: red;
    color: white;
}

.head-container, .footer-container {
    background-color: #153448; /* optional: gives it a background */
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: white;
    padding: 1rem 0 .5rem 0;
  }

  @media (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .post-actions {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-small, .create-button {
        width: 70%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .head-container {
        font-size: 1rem;
        padding: 0.5rem;
    }

    h1, h2, h3 {
        font-size: 1.2rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: auto;
    }
}
  